<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs") %>
  <body>
    <%- include("partials/navbar.ejs") %>
    <main>
      <div class="content">
        <h2>Monday, August 7</h2>
        <div class="form">
          <form action="/" method="POST">
            <input
              type="text"
              name="addTask"
              id="addTask"
              placeholder="Write a task"
              class="addInput"
            />
            <input type="submit" value="+" class="addButton"/>
          </form>
        </div>
        <div class="task-list">
          <ul>
            <% if (locals.tasks) { %>
              <% locals.tasks.forEach((task) => { %>
                  <%- include("partials/task.ejs", {task: task}) %>
              <% }) %>
            <% } %>
          </ul>
        </div>
    </div>
    </main>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
